# Values you should probably change
OP_NODE_L1_ETH_RPC=https://0xrpc.io/hoodi
OP_NODE_L1_BEACON=http://localhost:5052
OP_NODE_L1_BEACON_IGNORE=true
OP_ENGINE_API_JWT=8dd7f05cd07b65c9bd2ea946c1903228a84ec51f29bdc35e96e580f345143f8a

# Reth values
RETH_CHAIN=fraxtal-hoodi-testnet
RETH_SEQUENCER_HTTP=https://rpc.testnet.frax.com
RETH_BOOTNODES=enode://47163be5a7d0806d0f986cef90825127ca47950cb5bc72117bdaa61485ac744f1fd7344070163791ec60331ca4cd1127f1869f22af64373487683f229a9bfa86@40.160.27.54:30306,enode://b467ac6f93a161a1a3808847d16077e30f98810fe9740c54a7eb5f98d917fa555ca957fba7370b6f752b87de4a88ab6e9d4e0d71890dc25bfc17b33eba717217@15.204.110.99:30306

# Op node values
OP_NODE_L2_ENGINE_RPC=ws://testnet-reth:8551
OP_NODE_ROLLUP_CONFIG=/data/rollup.json
OP_NODE_L2_ENGINE_AUTH=/data/jwt
OP_NODE_L2_ENGINE_KIND=reth
OP_NODE_RPC_ADDR=0.0.0.0
OP_NODE_RPC_PORT=8545
OP_NODE_VERIFIER_L1_CONFS=4
OP_NODE_METRICS_ENABLED=true
OP_NODE_METRICS_ADDR=0.0.0.0
OP_NODE_METRICS_PORT=7300
OP_NODE_DA_RPC=https://da-rpc.testnet.frax.com
OP_NODE_P2P_BOOTNODES=enr:-J24QLWXBXHni0E8pqwsAxCpqq-W1-J9MIABLFpG3WQmNF_SGsHBLbxQXojGIFFMq904Hy9Q9uU9BDRwgm-6hmx50FOGAZoNhRvjgmlkgnY0gmlwhCigGzaHb3BzdGFja4PbEwCJc2VjcDI1NmsxoQJlIOBp-Tsu0KwuFBG8Nd_YyjvqgHJbrxqGHKfdLvQG4IN0Y3CCeMuDdWRwgnjL,enr:-J24QKkRJDmCMshdvGbg37TBi5kgVV5iHI-_o-M9aGfaSrMJHUUop6XXhSGZz-E_bBb_cUMsMClt2VWesE_I0u6zI2mGAZoNdD-IgmlkgnY0gmlwhA_MbmOHb3BzdGFja4PbEwCJc2VjcDI1NmsxoQJR7V9CwGDb4Xd7r9qu_nOluNy9HGI7E2WMQ6e60G6P8oN0Y3CCeMuDdWRwgnjL

# OP_NODE_L1_TRUST_RPC=true

# Uncomment if you want a full node instead of archive
# RETH_ADDITIONAL_ARGS=--full
# OP_NODE_SYNCMODE=execution-layer
