# Values you should probably change
OP_NODE_L1_ETH_RPC=https://ethereum.publicnode.com
OP_NODE_L1_BEACON=http://localhost:5052
OP_NODE_L1_BEACON_IGNORE=true
OP_ENGINE_API_JWT=8dd7f05cd07b65c9bd2ea946c1903228a84ec51f29bdc35e96e580f345143f8a

# Reth values
RETH_CHAIN=fraxtal
RETH_SEQUENCER_HTTP=https://rpc.mainnet.frax.com
RETH_BOOTNODES=enode://3628cd2691d1fded97bc02ac312dea9cf77e0f2a3f3ec682acc8fea6029b56c0d56940f0d6960fb58ae198929499ab7965dd6826b6a7056c5495b4300980265b@44.237.102.237:30301,enode://ef3189491c952c132722b8909390a1cb136a2067a72cdb1b8f236f021aad024c3e50841b8e566f14d7b5cea0ba44d9010c07e5a20d497ddccb5ff7a6e35b73bd@44.214.254.33:30301,enode://9a1f3aed3d059873001c149585adb1a56cd52c042d1512109c1f4d916e0108c06fbd00da6ef1844937542e9b3f89b582a1c907345e44ad52b90dfee00beac761@34.243.69.12:30301

# Op node values
OP_NODE_L2_ENGINE_RPC=ws://mainnet-reth:8551
OP_NODE_ROLLUP_CONFIG=/data/rollup.json
OP_NODE_L2_ENGINE_AUTH=/data/jwt
OP_NODE_L2_ENGINE_KIND=reth
OP_NODE_RPC_ADDR=0.0.0.0
OP_NODE_RPC_PORT=8545
OP_NODE_VERIFIER_L1_CONFS=4
OP_NODE_METRICS_ENABLED=true
OP_NODE_METRICS_ADDR=0.0.0.0
OP_NODE_METRICS_PORT=7300
OP_NODE_DA_RPC=https://da-rpc.mainnet.frax.com
OP_NODE_P2P_BOOTNODES=enr:-J24QPGxmNmQ6Gsofjwnaaqt-RvC-2te44hHSU_wFGvCBpdnGnAuW0hKBCwzarXEmLN0TfwilwX3xS8xjEd9sQRqKXqGAY1ok0P3gmlkgnY0gmlwhDa-pcmHb3BzdGFja4P8AQCJc2VjcDI1NmsxoQJA0echCE64KVt7m1lHfRF9_QgYxqIOSoPZ1UHcEArDu4N0Y3CCJAaDdWRwgiQG,enr:-J24QHPYu7uUXH4LCJ_pjHMD3fYhluZEgFRlewqOFFcja7ACaTDp4zG4GZBJdTPmLjsqskhTQa5ldKiVu4ypZYMzR_uGAY1ok_ABgmlkgnY0gmlwhCLvv1KHb3BzdGFja4P8AQCJc2VjcDI1NmsxoQOEemNzZL5buGmwlN2naXLtz4nauCqBFeFxdmi4RL4rDIN0Y3CCJAaDdWRwgiQG,enr:-J24QBujtfGNIiE6GJrCgXEKJMs1F11wd4Y8Uvx7ZFn3Z1tyR0erNcpiW5EYIQEKQX0kL9PLJUDHWZFiaHWOTBvFg5aGAY1ok5p8gmlkgnY0gmlwhDbD-tqHb3BzdGFja4P8AQCJc2VjcDI1NmsxoQLunzKLYJLvy6cWWkLgSSdLlILgSohrV8RT3tlKGwHBi4N0Y3CCJAaDdWRwgiQG

# OP_NODE_L1_TRUST_RPC=true

# Uncomment if you want a full node instead of archive
# RETH_ADDITIONAL_ARGS=--full
# OP_NODE_SYNCMODE=execution-layer
